@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        background-color: #0bb8f9;
        color: #ffffff;
        padding: 10px;
        margin: 1px;
        border-radius: 8px;
    }

    .h-btn {
        background-color: none;
        color: #ffffff;
        padding: 10px;
    }
}
